body {
    background: #88bfe3;
}

.nav li {
    width: 50%;
    font-weight: bold;
    font-size: 120px;
    color: yellow;
    background-color: black;
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    margin-right: 5em;
    margin-top: 5px;
    border: 5px solid black;
}

.nav li:nth-child(2n) {
    margin-left: 0.5em;
}

.nav li:nth-child(3) {
    margin-left: 0.75em;
}

.nav li:hover {
    color: black;
    background-color: yellow;
}

#nav_desc {
    width: 100%;
    font-size: 60px;
    text-align: center;
}